@import url(http://fonts.googleapis.com/css?family=Lato:400,700);
@import url(http://fonts.googleapis.com/css?family=Roboto+Slab:700);

@media (max-width: 475px) {
  a.title {
    display: none;
  }
}

@media (max-width: 780px) {
  div.fixed-width {
    padding: 0px 20px;
  }

  img.avatar {
    display: none;
  }
}

html, body {
  font: 300 1.05em 'Lato', Helvetica, Arial, sans-serif;
  line-height: 1.8em;
  margin: 0px;
  padding: 0px;
}

h1, h2, h3, h4, h5, h6 {
  color: rgb(0,89,156);
  font-family: 'Roboto Slab', Arial;
  font-weight: bold;
}

div.fixed-width {
  max-width: 780px;
}

div.centered {
  margin: 0px auto;
}

a {
  color: rgb(0,89,156);
  transition: all 0.25s ease 0s;
}

  a:hover {
    color: rgb(0,68,130);
  }

img.avatar
{
    background: rgb(255,255,255);
    border: 1px solid rgb(204,204,204);
    border-radius: 50%;
    max-width: 120px;
    max-height: 120px;
    padding: 3px;
}

div.header {
  background: rgb(255,255,255);
  overflow: hidden;

  -moz-box-shadow: 0 0 5px rgb(136,136,136);
  -webkit-box-shadow: 0 0 5px rgb(136,136,136);
  box-shadow: 0 0 5px rgb(136,136,136);

  position: relative;
  z-index: 2;
}

  div.header a.title {
    float: left;
    font-size: 100%;
    padding: 10px 0px;
  }

ul.navigation {
  float: right;
  list-style: none;
  margin: 0px;
  padding: 0px;
}

  ul.navigation li {
    float: left;
  }

    ul.navigation li a {
      display: block;
      font-size: 150%;
      padding: 16px;
    }

    ul.navigation li a :hover {
      text-decoration: none;
    }

div.main {
  color: rgb(51, 51, 51);
  background: rgb(255, 255, 255);
  font-size: 120%;
  overflow: hidden;
  padding: 10px 0px 40px;
}

div.excerpt {
  color: rgb(170,170,170);
  font-size: 60%;
  line-height: 1.2;
  padding: 10px 0px 0px;
}

h1.article-title {
  font-size: 250%;
  line-height: 60px;
  margin: 20px 0px;
}

div.masthead {
  background: url('../images/masthead.png') no-repeat;
  background-size: cover;
  height: 120px;

  box-shadow: inset 0 0 15px rgba(0,0,0,.5);
}

div.introduction {
  font-size: 120%;
  padding: 0px 0px 20px;
  line-height: 1.5em;
  text-align: center;
}

ul.listing {
  list-style: none;
  margin: 0px;
  padding: 0px;
}

  ul.listing li {
    border-bottom: 1px dotted rgb(170,170,170);
    padding:8px 0px;
  }

  ul.listing :nth-last-child(1) {
    border-bottom: 0px;
  }

    ul.listing li span {
      color: rgb(170,170,170);
      float: right;
      font-size: 60%;
      padding: 0px 10px 0px 0px;
      text-transform: uppercase;
    }

div.article {
  margin-bottom: 20px;
}

  div.article iframe {
    display: block;
    margin: 0px auto;
  }

  div.article h1 {
    font-size: 140%;
    margin: 0px 0px 10px;
  }

  div.article ul li {
    margin: 15px 0px;
  }

  div.article p, div.article p ul li p {
    line-height: 1.8em;
    margin: 20px 0px;
  }

  div.article p code {
    color: #000000;
    font-size: 1.05em;
    background: none repeat scroll 0% 0% #FFFFC8;
    border: 0px;
  }

  div.article a {
    border-bottom: 1px dotted transparent;
  }

  div.article a :hover {
    background: rgb(0,89,156);
  }

  div.article img {
    display: block;
    margin: 20px auto;
  }

div.article-footer {
  color: rgb(170,170,170);
  font-size: 80%;
  padding-top: 10px;
}

span.author-name {
  color: rgb(0,89,156);
  font-weight: bold;
}

div.subtitle-bar {
  border-top: 1px solid rgb(170,170,170);
  border-bottom: 1px solid rgb(170,170,170);
  color: rgb(170,170,170);
  font-size: 80%;
  overflow: hidden;
  margin-bottom: 20px;
  padding: 8px 0px;
}

div.article-details {
  float: left;
}

div.share-options {
  float: right;
}