@import url(http://fonts.googleapis.com/css?family=Lato:400,700);
@import url(http://fonts.googleapis.com/css?family=Quicksand:400,700);

html, body {
  background: rgb(246,245,242);
  font: 300 1.05em 'Lato', Helvetica, Arial, sans-serif;
  line-height: 1.4em;
  margin: 0px;
  padding: 0px;
}

h1, h2, h3, h4, h5, h6 {
  color: rgb(0,89,156);
  font-family: 'Quicksand', Arial;
  font-weight: normal;
}

ul {
  list-style: none;
  margin: 0px;
  padding: 0px;
}

div.fixed-width {
  max-width: 780px;
}

div.centered {
  margin: 0px auto;
}

a {
  color: rgb(0,89,156);
  text-decoration: none;
  transition: all 0.25s ease 0s;
}

  a:hover {
    color: rgb(0,68,130);
    text-decoration: none;
  }

img.avatar
{
    background: rgb(255,255,255);
    border: 1px solid rgb(204,204,204);
    border-radius: 50%;
    max-width: 120px;
    max-height: 120px;
    padding: 3px;
}

div.header {
  background: rgb(255,255,255);
  overflow: hidden;

  -moz-box-shadow: 0 0 5px rgb(136,136,136);
  -webkit-box-shadow: 0 0 5px rgb(136,136,136);
  box-shadow: 0 0 5px rgb(136,136,136);

  position: relative;
  z-index: 2;
}

  div.header a.title {
    float: left;
    font-size: 100%;
    padding: 10px 0px;
  }

ul.navigation {
  float: right;
}

  ul.navigation li {
    float: left;
  }

    ul.navigation li a {
      display: block;
      font-size: 150%;
      padding: 16px;
    }

div.main {
  color: rgb(51, 51, 51);
  background: rgb(255, 255, 255);
  font-size: 120%;
  overflow: hidden;
  padding: 10px 20px 40px;
}

h1.article-title {
  font-size: 250%;
  margin: 20px 0px;
}

div.masthead {
  background: url('../images/masthead.png') no-repeat;
  background-size: cover;
  height: 120px;

  box-shadow: inset 0 0 15px rgba(0,0,0,.5);
}

div.introduction {
  font-size: 120%;
  padding: 0px 0px 20px;
  line-height: 1.5em;
  text-align: center;
}

ul.listing li {
  border-bottom: 1px dotted rgb(170,170,170);
  padding:8px 0px;
}

ul.listing :nth-last-child(1) {
  border-bottom: 0px;
}

ul.listing li span {
  color: rgb(170,170,170);
  float: right;
  font-size: 60%;
  padding: 0px 10px 0px 0px;
  text-transform: uppercase;
}

div.article {
  margin-bottom: 20px;
}

div.article-footer {
  color: rgb(170,170,170);
  font-size: 80%;
  padding-top: 10px;
}

span.author-name {
  color: rgb(0,89,156);
  font-weight: bold;
}

div.subtitle-bar {
  border-top: 1px solid rgb(170,170,170);
  border-bottom: 1px solid rgb(170,170,170);
  color: rgb(170,170,170);
  font-size: 80%;
  overflow: hidden;
  margin-bottom: 20px;
  padding: 8px 0px;
}

div.article-details {
  float: left;
}

div.share-options {
  float: right;
}