@import url(http://fonts.googleapis.com/css?family=Lato:400,700);
@import url(http://fonts.googleapis.com/css?family=Quicksand:400,700);

html, body {
  background: #f6f5f2;
  font: 300 1.05em 'Lato', Helvetica, Arial, sans-serif;
  line-height: 1.4em;
  margin: 0px;
  padding: 0px;
}

h1, h2, h3, h4, h5, h6 {
  color: #00599c;
  font-family: 'Quicksand', Arial;
  font-weight: normal;
}

ul {
  list-style: none;
  margin: 0px;
  padding: 0px;
}

div.fixed-width {
  margin: 0px auto;
  max-width: 780px;
}

a {
  color: #00599c;
  text-decoration: none;
  transition: all 0.25s ease 0s;
}

  a:hover {
    color: #004482;
  }

img.photo
{
    float: left;
    background: #ffffff;
    border: 1px solid #cccccc;
    border-radius: 50%;
    max-width: 80px;
    max-height: 80px;
    padding: 3px;
}

div#header {
  background: #ffffff;
  overflow: hidden;

  -moz-box-shadow: 0 0 5px #888;
  -webkit-box-shadow: 0 0 5px #888;
  box-shadow: 0 0 5px #888;

  position: relative;
  z-index: 2;
}

  div#header a.title {
    float: left;
    font-size: 100%;
    padding: 10px 0px;
  }

ul#navigation {
  float: right;
}

  ul#navigation li {
    float: left;
  }

    ul#navigation li a {
      display: block;
      font-size: 150%;
      padding: 16px;
    }

div#main {
  background: #ffffff;
  overflow: hidden;
  padding: 10px 20px 40px;
}

div#main h1 {
  font-size: 280%;
  margin: 20px 0px;
}

div#masthead {
  background: url('../images/masthead.png') no-repeat;
  background-size: cover;
  height: 120px;

  box-shadow: inset 0 0 15px rgba(0,0,0,.5);
}

div#introduction {
  font-size: 120%;
  padding: 0px 0px 20px;
  line-height: 1.5em;
  text-align: center;
}

ul.listing li {
  border-bottom: 1px dotted #aaaaaa;
  padding:8px 0px;
}

ul.listing :nth-last-child(1) {
  border-bottom: 0px;
}

ul.listing li span {
  color: #aaaaaa;
  float: right;
  font-size: 60%;
  padding: 0px 10px 0px 0px;
  text-transform: uppercase;
}

div.tag-line {
  color: #aaaaaa;
  font-size: 80%;
  padding-top: 10px;
}

div.author-image {
  float: left;
  margin-right: 20px;
}

div#sub-bar {
  color: #aaaaaa;
  font-size: 80%;
  overflow: hidden;
}

div#by-line {
  float: left;
}

div#share-menu {
  float: right;
}