---
layout: layout
---

{% assign author = site.authors[page.author] %}
<h1 class="article-title">{{ page.title }}</h1>

<div class="subtitle-bar">
  <div class="article-details">
    Published {{ page.date | date: "%B %e, %Y" }} &bull; By <span class="author-name">{{ author.name }}</span>
  </div>
</div>
<div class="article">
  {{ content }}
</div>
<div class="subtitle-bar">
  <div class="share-options addthis_toolbox addthis_default_style addthis_32x32_style">
    <a class="addthis_button_facebook"></a>
    <a class="addthis_button_twitter"></a>
    <a class="addthis_button_linkedin"></a>
    <a class="addthis_button_reddit"></a>
    <a class="addthis_button_google_plusone_share"></a>
  </div>
</div>
<div class="article-footer row-fluid">
  <div class="span2">
      <a href="https://twitter.com/{{ author.twitter }}" target="_blank" title="{{ author.name }}"><img class="avatar" src="{{ author.image }}" alt="{{ author.name }}" /></a>
  </div>
  <div class="span10">
    <p><span class="author-name">{{ author.name }}</span></p>
    <p>{{ author.bio }}</p>
    <p>
      <a href="http://twitter.com/{{ author.twitter }}" class="twitter-follow-button" data-show-count="false">Follow @{{ author.twitter }}</a>
      <a href="http://twitter.com/{{ site.twitter }}" class="twitter-follow-button" data-show-count="false">Follow @{{ site.twitter }}</a>
    </p>
  </div>
</div>
<script type="text/javascript">var addthis_config = {"data_track_addressbar":true};</script>
<script type="text/javascript" src="//s7.addthis.com/js/300/addthis_widget.js#pubid=ra-52b8f9ad429744c6"></script>